@using System.Globalization
@using BarnacleBudget.Models
@model BudgetReport

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Ticker</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>
            <th>Current Price</th>
            <th><abbr title="Return on Investment">ROI</abbr></th>
        </tr>
        @foreach (var todo in Model.StockLots)
        {
            <tr>
                <td>@todo.Ticker</td>
                <td>@todo.FirstDate.ToString("d", CultureInfo.CurrentUICulture)</td>
                <td>@todo.FirstPrice.ToString("C", CultureInfo.CurrentUICulture)</td>
                <td>@todo.LastValue.ToString("C", CultureInfo.CurrentUICulture)</td>
                <td>@todo.Growth.ToString("P", CultureInfo.CurrentUICulture)</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td>@Model.StockLots.Sum(f => f.FirstPrice).ToString("C", CultureInfo.CurrentUICulture)</td>
            <td>@Model.StockLots.Sum(f => f.LastValue).ToString("C", CultureInfo.CurrentUICulture)</td>
        </tr>
    </tbody>
</table>