@using BarnacleBudget.Models
@model BudgetReport

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Ticker</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>
            <th>Current Price</th>
            <th><abbr title="Return on Investment">ROI</abbr></th>
        </tr>
        @foreach (var todo in Model.StockLots)
        {
            <tr>
                <td>@todo.Ticker</td>
                <td>@todo.FirstDate.ToString("yyyy-MM-dd")</td>
                <td>@todo.FirstPrice</td>
                <td>@todo.LastValue</td>
                <td>@todo.Growth</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td>@Model.StockLots.Sum(f => f.FirstPrice)</td>
            <td>@Model.StockLots.Sum(f => f.LastValue)</td>
        </tr>
    </tbody>
</table>