@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BarnacleBudget.Models.StockLot>

<table class="table table-striped">
	<tbody>
		@foreach (var todo in Model)
		{
			<tr>
				<td>@todo.Ticker</td>
				<td>@todo.FirstDate.ToString("yyyy-MM-dd")</td>
				<td>@todo.LastPrice</td>
				<td>@(todo.LastPrice / todo.FirstPrice)</td>
			</tr>
		}
		<tr>
			<td>Total</td>
			<td></td>
			<td>@Model.Sum(f => f.LastPrice)</td>
		</tr>
	</tbody>
</table>